$primary-color: #fdff83;
$self_color: #d4cced;
$future_color: #30e3df;

.register_wrap {
    background-color: $future_color;
    .register_title {
        font-size: 90px;
        text-shadow: 0 15px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        font-family: fantasy;
        @include tab_iPadPro {
            font-size: 130px;
        }
        @include sp {
            font-size: 55px;
            margin-top: 50px;
        }
    }
    .register_form_wrap {
        background-color: #fff;
        border-radius: 30px;
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding: 10px 25px;
        @include tab_iPadPro {
            width: 90%;
            margin: 30px auto;
        }
    }
    .form-control {
        border-radius: 30px;
    }
    .btn {
        width: 30%;
        background-color: $future_color;
        box-shadow: 0px 4px 4px #27e9d1;
        border-radius: 30px;
        border: none;
        color: #000;
        @include sp {
            width: 60%;
        }
    }
    .btn:active {
        box-shadow: none;
        transform: translateY(4px);
        background-color: $future_color !important;
        border-color: $future_color !important;
        border: none;
        color: #000 !important;
    }
    a:hover {
        text-decoration: underline !important;
    }
}
