.singleCompany_wrap{
    margin-top: 14vh;
    .singleCompany_title{
        align-items: center;
        text-align: center;
        padding: 10px 0;
        font-size: 30px;
        font-weight: bold;
    }
    .singleCompany_content{
        margin-top: 30px;
        .analysis_title{
            align-items: center;
            text-align: center;
            width: 100%;
            padding: 10px 0;
            font-size: 20px;
        }
        .analysis_content{
            padding: 10px 20px;
            font-size: 18px;
            line-height: 30px;
            background-color: #fff;
        }
        .company_logo{
            width: 150px;
            height: 150px;
            border: 1px solid #000;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 auto 10px;
        }
        .company_info{
            padding: 20px;
            line-height: 30px;
            background-color: #fff;
        }
    }
}