$primary-color: #fdff83;
$self_color: #d4cced;
$future_color: #30e3df;

body {
    height: 100%;
}

header {
    background-color: #fff;
    box-shadow: 0px 4px 4px #f3f3f3;
    position: fixed;
    width: 100%;
    z-index: 10;

    .header_logo {
        padding: 20px;
        font-size: 40px;
        line-height: 40px;
        h1 {
            text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
            @include sp {
                display: flex;
                justify-content: space-between;
            }
            span {
                display: none;
                @include sp {
                    display: inline;
                    text-shadow: none !important;
                }
            }
            .hum_close {
                display: none;
            }
        }
    }

    .header_nav {
        padding: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            line-height: 40px;
            font-size: 20px;
            @include tab {
                font-size: 18px;
            }
            a:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
        @include sp {
            display: none;
        }
    }

    .header_icon {
        padding: 20px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        a:hover {
            color: $primary-color;
        }
        @include sp {
            display: none;
        }
    }

    .hum_wrap {
        display: none;

        @include sp {
            background-color: rgba(253, 255, 131, 0.5);
            width: 100%;
            text-align: center;
            padding: 20px 0;
        }

        nav {
            @include sp {
                width: 55%;
                margin: 0 auto;
                text-align: left;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

main {
    background-color: #f2f4f5;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    .bg_line {
        width: 100%;
        position: absolute;
        transform: skewY(-25deg);
    }

    .top {
        height: 15vh;
        top: -8%;
    }

    .center {
        height: 25vh;
        top: 40%;
    }

    .bottom {
        height: 15vh;
        top: 98%;
    }

    .main_wrap {
        margin: 35vh 0;
        @include sp {
            margin: 20vh 0;
        }

        a:hover {
            color: #000;
            text-decoration: none;
        }

        h2 {
            background-color: #fff;
            border-radius: 50%;
            width: 43%;
            font-size: 30px;
            padding: 90px;
            margin: 0 auto;
            text-align: center;
            @include tab {
                width: 54%;
            }
            @include sp {
                width: 70%;
                margin: 20px auto;
            }
        }
        .self_color {
            background-color: $self_color;
            box-shadow: 0px 8px 4px #bbacec;
        }
        .future_color {
            background-color: $future_color;
            box-shadow: 0px 8px 4px #27e9d1;
        }
        .self_color:active,
        .future_color:active {
            box-shadow: none;
            transform: translateY(8px);
        }
    }
}
